<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054543442631-l7kikj5hf16igfpui13fd6jquh7jcppc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054543442631-l7kikj5hf16igfpui13fd6jquh7jcppc</string>
	<key>API_KEY</key>
	<string>AIzaSyCiyxhnA3nUkWeDvzDbL1GoKaVxn-CkRyc</string>
	<key>GCM_SENDER_ID</key>
	<string>1054543442631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nibm.NIBM-COVID19</string>
	<key>PROJECT_ID</key>
	<string>ios-cw-b48cc</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-cw-b48cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054543442631:ios:832465d006b629b595c4e2</string>
	<key>DATABASE_URL</key>
	<string>https://ios-cw-b48cc.firebaseio.com</string>
</dict>
</plist>